body {
  margin: 0;
}
#search {
  cursor: pointer;
}
.nav-bar {
  top: 0px;
  max-height: 50px;
  display: inline;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  min-height: 80px;
}
.nav-bar ul {
  display: flex;
  list-style: none;
}
#page-name {
  position: relative;
  color: crimson;
  display: flex;
  font-size: 30px;
  justify-content: start;
  align-items: center;
}
#search-bar {
  cursor: progress;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* top: 10px; */
}
.search {
  background-color: rgb(231, 218, 218);
}
#contact-res {
  height: 20px;
  /* width: 80px; */
  margin: 2px 10px;
  position: relative;
  display: block;
  width: 100%;
  /* float: right; */
}
.first-hr {
  height: 3px;
  background: crimson;
  margin-bottom: 130px;
}
.w-100 {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 50px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.btn {
  border: none;
}
.btn-primary {
  background: crimson;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.main-banner .main-banner-content {
  width: 45%;
}
.main-banner .main-banner-img {
  width: 45%;
}
.main-banner .main-banner-img img {
  width: 80%;
}

.grid-shop .card {
  width: 20%;
  margin-bottom: 20px;
}
.grid-shop .card a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.grid-shop .card img {
  max-width: 100%;
  background: rgba(245, 228, 198, 0.582);
  margin-bottom: 10px;
}
.title {
  text-align: center;
  margin-bottom: 50px;
}
.title h2 {
  font-size: 20px;
  margin-top: 120px;
}
.title hr {
  width: 80px;
  height: 5px;
  border: none;
  background: crimson;
  border-radius: 20px;
}
.i2 {
  height: 252px;
  width: 228px;
}

.grid-new-shop .card {
  width: 20%;
  margin-bottom: 20px;
}
.grid-new-shop .card a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.grid-new-shop .card img {
  max-width: 100%;
  background: rgba(245, 228, 198, 0.582);
  margin-bottom: 10px;
}
.smart-band-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}
.smart-band-main .smart-band {
  width: 30%;
}
.ima {
  height: 80px;
  margin: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 160px;
}
.testimonial {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.testimonial .testimonial-card {
  /* padding: 0 15px; */
  text-align: center;
  width: 30%;
  background-color: #fff;
  box-shadow: 1px 1px 4px 6px #eee;
}
.testimonial .testimonial-card span {
  font-size: 50px;
  color: crimson;
}

.img-ball {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #000;
  object-fit: cover;
}
.fst-hr {
  width: 80px;
  height: 5px;
  border: none;
  background: crimson;
  border-radius: 20px;
  margin-top: -30px;
}
.e {
  display: flex;
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
}
.justify-content-between .e {
  width: 20%;
  justify-content: space-between;
}
.container-1 {
  /* border: 10px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-align {
  display: flex;
  flex-direction: row;
  /* float: right; */
  justify-content: end;
  align-items: flex-end;
  position: relative;
  bottom: 129px;
  left: 270px;
  display: inline-block;
}
.ima {
  height: 100px;
  margin: 30px;
  width: 100px;
}
.left-align {
  position: relative;
  left: 110px;
}
#titl {
  font-size: 22px;
  color: crimson;
  font-weight: 900;
  font-weight: bolder;
  position: relative;
  bottom: 14px;
}
.last {
  position: relative;
  bottom: 14px;
  display: flex;
  flex-wrap: wrap;
}
.icon {
  position: relative;
  top: 3px;
  right: 10px;
}
.ic {
  margin: 10px;
  color: rgb(66, 63, 63);
}
.shoes {
  height: 180px;
  width: 390px;
  padding: 30px;
  padding-bottom: 42px;
}
.shift {
  position: relative;
  right: 30px;
}
.st {
  height: 100px;
  width: 100px;
}
.star {
  color: crimson;
}
.half-st {
  height: 12px;
  width: 12px;
  position: relative;
  top: 11px;
  size: 100px;
}
.lst-star {
  position: relative;
  bottom: 10px;
}
.last-st {
  height: 11px;
  width: 11px;
  position: relative;
  size: 100px;
}
.grid-shop .card .imd {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.582);
  margin-bottom: 10px;
}
.ww1,
.ww2,
.ww3,
.ww4,
.ww5 {
  height: 130px;
  width: 150px;
  margin: 30px;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  left: 35px;
  max-width: 100%;
  cursor: pointer;
}
.sm {
  font-size: 50px;
}
.our {
  margin-bottom: 100px;
  margin-top: 20px;
}
.testimonial {
  margin-bottom: 120px;
}
.jersey {
  position: relative;
  left: 10px;
}
.sh1 {
  position: relative;
  right: 60px;
}
.smart-band-main {
  margin-bottom: 120px;
}
.partners {
  margin-top: 70px;
}
.hover:hover {
  transform: scale(1.2);
}
.ww1,
.ww2,
.ww3,
.ww4,
.ww5 {
  transition: transform 0.2s;
}
.hover1:hover {
  transform: scale(1.1);
}
.hv1 {
  transition: transform 0.5s;
}
.hover2:hover {
  transform: scale(1.2);
}
.card {
  transition: transform 0.4s;
}
.testimonial-card:hover {
  transform: scale(1.1);
}
.testimonial-card {
  transition: transform 0.5s;
}
.hover4:hover {
  transform: scaleX(1.2);
}
.hover4 {
  transition: transform 0.3s;
}
.i5:hover {
  transform: scale(1.11);
}
.i5 {
  height: 370px;
  transition: transform 0.4s;
}
.btn-primary:hover {
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  color: crimson;
}
.fa-shopping-cart {
  position: relative;
  left: 1px;
}
.fa-heart {
  position: relative;
  left: 17px;
}
.fa-user {
  position: relative;
  left: 10px;
}
.link {
  color: crimson;
}
.hover3:hover {
  transform: scaleY(1.09);
}
.hover3 {
  transition: transform 0.2s;
}
